<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.blaulan.beancount</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2D587929-4184-4AEB-85C0-D630F382FA5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCF05ACD-250C-4587-8B27-81077C2ECCE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>468964D0-FFD4-4011-BD37-4202570850C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>312E69AC-14DB-490A-8EF8-2394B2461708</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9330B9FF-C00F-4D46-8E56-E974F88F15C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D68F7816-06F0-4888-B230-1CDFCD8A6832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D68F7816-06F0-4888-B230-1CDFCD8A6832</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>312E69AC-14DB-490A-8EF8-2394B2461708</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA3F5F56-A621-47C7-8CD3-4971A06E0B62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>468964D0-FFD4-4011-BD37-4202570850C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCF05ACD-250C-4587-8B27-81077C2ECCE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>312E69AC-14DB-490A-8EF8-2394B2461708</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yue Wu</string>
	<key>description</key>
	<string>insert new entries to beancount</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Beancount</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import json

with open('beancount.json', 'r') as settingfile:
    settings = json.loads(settingfile.read())

with open(settings['default_ledger'], 'a') as beanfile:
    beanfile.write('''{query}\n\n''')</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCF05ACD-250C-4587-8B27-81077C2ECCE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bean-add</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching for Accounts...</string>
				<key>script</key>
				<string>$python_path beancount.py add {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>to default.beancount</string>
				<key>title</key>
				<string>Add New Entry</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D587929-4184-4AEB-85C0-D630F382FA5A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>beancounted</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>312E69AC-14DB-490A-8EF8-2394B2461708</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bean-cache</string>
				<key>subtext</key>
				<string>may provide custom beancount file</string>
				<key>text</key>
				<string>Refresh Caches</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9330B9FF-C00F-4D46-8E56-E974F88F15C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$python_path beancount.py cache {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D68F7816-06F0-4888-B230-1CDFCD8A6832</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import json

pos = int({query})

with open('beancount.json', 'r') as settingfile:
    settings = json.loads(settingfile.read())

with open(settings['default_ledger'], 'r') as beanfile:
    bean = beanfile.read()

with open(settings['default_ledger'], 'w') as beanfile:
    beanfile.write(bean[:pos+12] + '*' + bean[pos+13:])</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>468964D0-FFD4-4011-BD37-4202570850C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bean-clear</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for Entries...</string>
				<key>script</key>
				<string>$python_path beancount.py clear {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>by adding tag #clear</string>
				<key>title</key>
				<string>Clear Transaction</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FA3F5F56-A621-47C7-8CD3-4971A06E0B62</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to modify beancount file with account/payee auto-complete. Thanks to [beancount](http://furius.ca/beancount/), [Alfred-Workflow](http://www.deanishe.net/alfred-workflow/) and [iconmonstr](http://iconmonstr.com/). Please remember to modify the corresponding regex in `beancount.json` to match your entry format.</string>
	<key>uidata</key>
	<dict>
		<key>2D587929-4184-4AEB-85C0-D630F382FA5A</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>312E69AC-14DB-490A-8EF8-2394B2461708</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>468964D0-FFD4-4011-BD37-4202570850C9</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>9330B9FF-C00F-4D46-8E56-E974F88F15C3</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D68F7816-06F0-4888-B230-1CDFCD8A6832</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>FA3F5F56-A621-47C7-8CD3-4971A06E0B62</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>FCF05ACD-250C-4587-8B27-81077C2ECCE9</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>default_currency</key>
		<string>CNY</string>
		<key>default_ledger</key>
		<string>./example.beancount</string>
		<key>ledger_folder</key>
		<string>.</string>
		<key>python_path</key>
		<string>/Users/yue/.virtualenvs/py27/bin/python2</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>python_path</string>
		<string>ledger_folder</string>
		<string>default_ledger</string>
		<string>default_currency</string>
	</array>
	<key>version</key>
	<string>0.3.1</string>
	<key>webaddress</key>
	<string>http://blog.blaulan.com</string>
</dict>
</plist>
